<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    s
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>
    <div class="container" id="app">
      <div class="card">
        <h1
          :style="{
          color: inputValue && inputValue.length < 5 ? 'darkred' : 'darkblue',
          fontSize: inputValue && inputValue.length < 5 ? '2rem' : '1.5rem',
        }"
        >
          {{ title }}
        </h1>
        <div class="form-control">
          <input
            type="text"
            :placeholder="placeholderString"
            v-model="inputValue"
            @keyup.enter="addNewNote"
          />
        </div>
        <button class="btn" @click="addNewNote">Добавить</button>
        <hr />
        <ul class="list" v-if="notes.length">
          <li class="list-item" v-for="(myNote, i) of notes">
            <span :class="myNote.length > 5 ? 'primary' : 'bold'"
              >{{ toUpperCase(myNote) }}</span
            >
            <button
              class="btn danger"
              v-if="notes.length"
              @click="deleteSelectNote(i)"
            >
              Удалить
            </button>
          </li>
          <hr />
          <li>
            <strong>Общее количество: {{ notes.length }}</strong> | Удвоенное:
            {{ doubleCountComputed }}
          </li>
        </ul>
        <div v-else>Заметок пока нет...</div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
